/* @import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Merienda&family=Merienda+One&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Merienda+One&family=Nanum+Pen+Script&display=swap');

* {
    margin: 0;
    padding: 0;
}

#container {
    width: 1100px;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 100px;
    background-color: #045;

}

#logo {
    width: 250px;
    height: 100px;
    float: left;
    line-height: 100px;
    font-family: 'Merienda', cursive;
}
#logo h1 {
    color: white;
    padding-left: 30px;
    font-family: 'Merienda one', cursive;

}

#logo h1 a {
    color: white;
    text-decoration: none;
}

nav {
    width: 700px;
    height: 100px;
    text-align: center;
    float: right;
}

#topmenu {
    list-style: none;
}

#topmenu li {
    display: inline;
    line-height: 100px;
}
#topmenu li a {
    text-decoration: none;
    color: white;
    padding: 0 30px;  

}

/* 본문 영역 */
.contents {
    width: 1000px;
    margin: 50px auto;

}

main section {
    margin-top: 50px;
    height: 300px;
}

main div {
    margin-top: 20px;
}

#healing h2 {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 2em;
}

.detail img {
    /* display: block; */
    float:left;
    margin-right: 30px;
    border-radius: 20px;
}

.detail p {line-height: 2;}

.schedule h3 {line-height: 2;}

.schedule ul {
    list-style: none;
}
.schedule ul li {
    line-height: 2;
}

/* footer 영역 */

footer {
    height: 100px;
    border-top: 2px solid #777;
}

#botmmenu ul {
    list-style: none;
    margin-top: 20px;
    margin-left: 80px;
}

#botmmenu li {
    display: inline;
    padding: 5px 20px;
    border-right: 2px solid #bbb;
}

#botmmenu li a {
    color: black;
    text-decoration: none;
}

